ANTHROPIC_API_KEY=your_anthropic_api_key_here
EXPLORIUM_API_KEY=your_explorium_platform_key_here
GMAIL_EMAIL=your_pgb_gmail_here
GMAIL_APP_PASSWORD=your_google_app_password_here
AUTH_PASSWORD=your_shared_password_here
AUTH_SECRET=a_random_secret_string_here
